.header{
height: 10vh;
/* background-color: aquamarine; */
display: flex;
justify-content: space-between;
}

.fimage{
    width: 15%;
    height:50% ;
    padding: 2% 5%;
}

.ads{
    height: 25vh;
    background-color: aqua;
    display: flex;
}

.aimg{
width: 33.33%;
}
.pages{
  height: 8vh;
  /* background-color: aqua; */
  display: flex;
  border: solid 0.05rem;
  border-color: rgba(0, 0, 0, 0.147);
}

.menu{
    padding: 0 0.5rem !important;
    width: 20%;

}

.blackborder{
    border-bottom:solid !important;
    border-color: black !important;
    border-width: 0.15rem !important;
}
.specailmenu{
    right: 0 !important;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.graybackground{
    background-color: gray;
    height: 100%;
    padding-left: 5%;
    position: absolute;
    right: 0;
    width: 15%;
    


}

.littleleft{
    padding-right: 0.9rem;
}

.vector{
    /* margin: 1rem; */
    padding-top: 1.5rem;
    padding-right: 0.5rem;
}

.invisibleform{
    position: absolute;
    margin: 20% 30%;
    background-color: white;
    height: 40%;
    width: 40%;
    z-index: 15;
    
}
.parentform{
    /* display: none; */
    position: absolute;
    height: 170%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.713) !important;
    z-index: 10;
}

.smoke{
width: 60%;
margin-top: 10%;
}

.username{
width: 60%;
/* margin: 10% 0; */
margin-top: 15% !important;
color: #464B4E !important;
}

.password{
width: 60%;
margin-top: 15% !important;
color: #464B4E !important;

}

.submitbtn{
width: 60%;
margin-top:15% !important;
color: white !important;
background-color: #464B4E !important;

}