.productbox{
    width: 50% !important;
    /* background-color: aquamarine ; */
    height: 30vh;
    /* display: inline-block; */
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5% 0; */
    margin-top: 5%;
    

    
}
.imgbox{
  height: 82%;
  width: 20%;
  /* background-color:blue; */
  border-radius: 1.2rem;
  padding: 5%;
  border: solid 0.05rem ;
  overflow: hidden;
  border-color: rgba(0, 0, 0, 0.147);
  
}
.medimage{
 height: 90%;
 width: 100%;
 padding: 4%;
}

.contentbox{
    height: 70%;
    width: 45%;
    /* background-color: brown; */
    border-radius: 0rem 1.2rem 1.2rem 0rem;
    border-left: 0 !important;
    margin-right: 2rem;
    padding: 5% !important;
    padding:1% ;
    overflow: hidden;
    border: solid 0.05rem;
    border-color: rgba(0, 0, 0, 0.147);
    

}
.contentheading{
font-size: 3vh;
/* float: left; */
text-align: start;
padding-left: 0.5rem;
/* padding-top: 0.5rem; */
}

.smallline{
font-size: 1.5vh;
text-align: start;
padding-left: 0.5rem;
/* float: left; */
}

.contentdescription{
font-size: 1.5vh;
margin-top: 2.5vh;
text-align: start;
padding-left: 0.5rem;
/* float: left; */
}

.stars{
    text-align: start;
    margin-top: 1.5vh;
    padding: 0.5rem 0.5rem;
}
.stars img{
    padding: 0 0.3vw;
    height: 80%;
}
.lastrow{
    display: flex;
    justify-content: space-between;
    margin-top: 0.35rem;

    
}

.hh3{
    padding-right: 1.2rem;
}
.rates{
    padding-left: 0.5rem;
    font-size: 3vh;
    display: inline;
    /* padding-bottom: 1rem; */
    
}
.usd{
    font-size: 2vh;
    display: inline;
    /* padding-bottom: 1rem; */
}